<router-outlet></router-outlet>
<div class="bottomContainer ">
    <span class="bottomOptionsContainer " style="margin-right: auto;">
        <span class="tooltip" style="cursor: pointer;">
            <span style="margin:unset"><a class="iconStyle" href="footer/dashboard"><fa-icon [icon]="fausergearIcon"></fa-icon></a></span>
            <span class="tooltiptext">Dashboard</span>
        </span>
        <span class="tooltip" style="cursor: pointer;">
            <span><a class="iconStyle" href="footer/administrator-course"><fa-icon
                        [icon]="faBookOpenReaderIcon"></fa-icon></a></span>
            <span class="tooltiptext">administrator-course</span>
        </span>
        <span class="tooltip" style="cursor: pointer;">
            <span ><a class="iconStyle" href="footer/slides" ><fa-icon [icon]="faUserPenIcon"></fa-icon></a></span>
            <span class="tooltiptext">slides</span>
        </span>
        <span class="tooltip" style="cursor: pointer;">
            <span class="iconStyle"><fa-icon [icon]="faBuildingIcon"></fa-icon></span>
            <span class="tooltiptext">test</span>
        </span>
        <span class="tooltip" style="cursor: pointer;">
            <span ><a class="iconStyle" href="footer/quiz-selection"><fa-icon [icon]="faListIcon"></fa-icon></a></span>
            <span class="tooltiptext">quiz-selection</span></span>
        <span class="tooltip" style="cursor: pointer;">
            <span class="iconStyle"><fa-icon [icon]="faFileContractIcon"></fa-icon></span>
            <span class="tooltiptext">test</span>
        </span>
    </span>
    <span class="bottomOptionsContainer">
        <span style="margin: 0;"><fa-icon [icon]="facirclechevrondownIcon"></fa-icon></span>
        <span style="font-size: 12px;margin-left: 0;">por aprobar</span>
    </span>
    <span class="bottomOptionsContainer "
        style="background-color: rgb(96 254 254 / 58%); border-radius: 14px;margin: 0 30px; cursor: pointer;">
        <span class="iconStyle" style="margin: unset;"><fa-icon [icon]="faMagnifyingGlassIcon"></fa-icon></span>
    </span>
    <span class="bottomOptionsContainer">
        <span class="tooltip">
            <span style="margin:unset; cursor: pointer;">
                <a class="opacityIcon" href="login">
                    <fa-icon [icon]="faCircleUserIcon"></fa-icon>
                </a>
            </span>
            <span class="tooltiptext">Login</span></span>
        <span class="tooltip">
            <span style="margin:unset; cursor: pointer;">
                <a class="opacityIcon" href="footer/create-course">
                    <fa-icon [icon]="faRightFromBracketIncon"></fa-icon>
                </a>
            </span>
            <span class="tooltiptext">Create-course</span></span>
    </span>
</div>